@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hpcl-blue: #0055A4;
  --hpcl-red: #DD0000;
  --hpcl-dark-blue: #003366;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hpcl-blue: var(--hpcl-blue);
  --color-hpcl-red: var(--hpcl-red);
  --color-hpcl-dark-blue: var(--hpcl-dark-blue);
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

@keyframes bounce-subtle {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-subtle {
  animation: bounce-subtle 4s ease-in-out infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}